/* Critical CSS (also inlined on initial page load) */
body {
    background-color: red;
    line-height: 1.4;
    padding: 1em;
}

body, button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
}

main {
    background-color: white;
    max-width: 32em;
    margin: 2em auto;
    padding: 2em;
}

nav {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    position: relative;
    color: #ccc;
    margin-bottom: 1em;
}

li:before {
    content: "☐ ";
    position: absolute;
    top: 0;
    left: -2em;
}

.js #js {
    color: forestgreen;
}

.js #js:before {
    content: "☑ ";
}

/* Non-critical CSS (added asynchronously and on subsequent page loads) */
.initial body {
    background-color: darkorange;
}

.initial .js {
    background-color: gold;
}

.subsequent #subsequent,
#css {
    color: forestgreen;
}

.subsequent #subsequent:before,
#css:before {
    content: "☑ ";
}

/* Successive loads: When both the JS and this stylesheet are loaded, we're finished! */
.subsequent #initial,
.subsequent #callback {
    text-decoration: line-through;
}

.subsequent body {
    background-color: gold;
}

.subsequent .js {
    background-color: forestgreen;
}
